/*
	@name reviewssuperiorroom
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; /*overflow-x:hidden;*/ }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: table; position: relative; width: 1024px; height: 1360px; margin-left: auto; margin-right: auto;  }
/*#atag{
	color: #a98670;
    text-decoration: none;
}*/
#atag:hover {
	cursor:pointer;
    color: rgba(238, 238, 238, 1) !important;
}
#_bg__reviewssuperiorroom {
	top: 0px;
	left: 0px;
	width: 1024px;
	height: 1360px;
	background:rgba(255,255,255,255);
}

#topreviews {
	top: 126px;
	left: 99px;
	width: 120px;
	height: 48px;
}

#reviews {
	top: -8px;
	left: -5px;
	width: 125px;
	height: 49px;
	font-family: Poppins;
	font-size: 30px;
	text-align: center;
	color:#1e1e1e;
}


#linemainreviews {
	top: 43px;
	left: 44px;
	width: 33px;
	height: 5px;
	-ms-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-o-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-webkit-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-moz-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	background:rgba(0,0,0,255);
}

#head {
	top: 149.5px;
	left: 45.5px;
	width: 909px;
	height: 0px;
}

#line_13 {
	top: -2px !important;
	position: absolute !important;
	left: 0px;
	width: 41px;
	height: 4px;
	background:url(../skins/line_13.png);
	background-size:cover;
}


#line_18 {
	top: -2px !important;
	position: absolute !important;
	left: 594px;
	width: 315px;
	height: 4px;
	background:url(../skins/line_18.png);
	background-size:cover;
}


#line_19 {
	top: -2px !important;
	position: absolute !important;
	left: 186px;
	width: 408px;
	height: 4px;
	background:url(../skins/line_19.png);
	background-size:cover;
}


#bglistofroom {
	top: 211px;
	left: 797px;
	width: 182px;
	height: 335px;
	-ms-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-o-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-webkit-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-moz-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	background:rgba(0,0,0,255);
}

#grouprooms {
	top: 237px;
	left: 809px;
	width: 158px;
	height: 284px;
}

#junior_suite__with_lounge_access {
	top: 239px;
	left: 8px;
	width: 143px;
	height: 44px;
	font-family: Poppins;
	font-size: 14px;
	text-align: center;
	color:#5a5a5a;
}


#premium_deluxe__with_lounge_access {
	top: 182px;
	left: 8px;
	width: 143px;
	height: 44px;
	font-family: Poppins;
	font-size: 14px;
	text-align: center;
	color:#5a5a5a;
}


#executive_deluxe__with_lounge_access {
	top: 125px;
	left: 8px;
	width: 143px;
	height: 44px;
	font-family: Poppins;
	font-size: 14px;
	text-align: center;
	color:#5a5a5a;
}


#executive_superior_sky__with_lounge_access {
	top: 68px;
	left: -2px;
	width: 163px;
	height: 44px;
	font-family: Poppins;
	font-size: 14px;
	text-align: center;
	color:#5a5a5a;
}


#superior_sky_room {
	top: 32px;
	left: 12px;
	width: 135px;
	height: 23px;
	font-family: Poppins;
	font-size: 14px;
	text-align: center;
	color:#5a5a5a;
}
#superior_sky_room:hover{
	cursor:pointer;
    color: rgba(238, 238, 238, 1) !important;
}


#superior_room {
	top: -4px;
	left: 25px;
	width: 109px;
	height: 23px;
	font-family: Poppins;
	font-size: 14px;
	text-align: center;
	color:#a98670;
}


#list_of_rooms {
	top: 177px;
	left: 795px;
	width: 107px;
	height: 23px;
	font-family: Poppins;
	font-size: 14px;
	text-align: center;
	color:#1e1e1e;
}

#footer {
	top: 1167px;
	left: -5px;
	width: 1035px;
	height: 198px;
}

#footer_ek1 {
	top: 0px;
	left: 2px;
	width: 1024px;
	height: 150px;
	background:rgba(255,255,255,255);
}


#logo {
	top: 17px !important;
	position: absolute !important;
	left: 0px;
	width: 136px;
	height: 125px;
	background:url(../skins/logo.png);
	background-size:cover;
}


#path_1 {
	top: 11px !important;
	position: absolute !important;
	left: 23px;
	width: 974px;
	height: 1px;
	background:url(../skins/path_1.png);
	background-size:cover;
}


#contact_us__mail__433_132_someroad_rd___10999_bankok__thailand_email__uhotel_reservation_abc_com_tel___66__0__2_231_4421 {
	top: 21px;
	left: 136px;
	width: 340px;
	height: 176.5px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 17px;
	text-align: left;
	line-height: 17px;
	color:#666666;
}


#follow_us {
	top: 21px;
	left: 504px;
	width: 340px;
	height: 176.5px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 17px;
	text-align: left;
	line-height: 17px;
	color:#666666;
}


#subscribe {
	top: 21px;
	left: 695px;
	width: 340px;
	height: 176.5px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 17px;
	text-align: left;
	line-height: 17px;
	color:#666666;
}


#facebook {
	top: 79px !important;
	position: absolute !important;
	left: 507px;
	width: 28px;
	height: 28px;
	background:url(../skins/facebook.png);
	background-size:cover;
}


#facebook_ek1 {
	top: 77px !important;
	position: absolute !important;
	left: 607px;
	width: 31px;
	height: 31px;
	background:url(../skins/facebook_ek1.png);
	background-size:cover;
}


#facebook_ek2 {
	top: 69px !important;
	position: absolute !important;
	left: 566px;
	width: 46px;
	height: 46px;
	background:url(../skins/facebook_ek2.png);
	background-size:cover;
}


#facebook_ek3 {
	top: 79px !important;
	position: absolute !important;
	left: 540px;
	width: 29px;
	height: 29px;
	background:url(../skins/facebook_ek3.png);
	background-size:cover;
}


/*#path_2 {
	top: 104px !important;
	position: absolute !important;
	left: 647px;
	width: 0px;
	height: 0px;
	background:url(../skins/path_2.png);
	background-size:cover;
}*/


#rectangle_1 {
	top: 72px;
	left: 695px;
	width: 299px;
	height: 38px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #aeaeae;
	background:rgba(255,255,255,255);
}


#enter_your_email {
	top: 80px;
	left: 709px;
	width: 253px;
	height: 27.5px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 13px;
	text-align: left;
	line-height: 13px;
	color:#aeaeae;
}

#main {
	top: 308px;
	left: 63px;
	width: 695px;
	height: 803px;
}

#rectangle_1161 {
	opacity:0.59813302755356;
	top: 39px;
	left: 0px;
	width: 695px;
	height: 764px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-ms-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-o-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-webkit-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-moz-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	background:rgba(245,245,239,255);
}


#image_10 {
	top: 41px !important;
	position: absolute !important;
	left: 0px;
	width: 213px;
	height: 170px;
	background:url(../skins/image_10.png);
	background-size:cover;
}

#overallrating {
	top: 257px;
	left: 58px;
	width: 98px;
	height: 110px;
}

#overall_rating {
	top: -4px;
	left: -2px;
	width: 103px;
	height: 23px;
	font-family: Poppins;
	font-size: 14px;
	text-align: center;
	color:#1e1e1e;
}


#_3_5_5 {
	top: 30px;
	left: 22px;
	width: 53px;
	height: 29px;
	font-family: Poppins;
	font-size: 18px;
	text-align: center;
	color:#969896;
}


#_121_reviews {
	top: 90px;
	left: 16px;
	width: 67px;
	height: 19px;
	font-family: Poppins;
	font-size: 12px;
	text-align: center;
	color:#777777;
}

#group_458 {
	top: 75px;
	left: 2px;
	width: 94.466430664062px;
	height: 15.05712890625px;
}

#icon_awesome_star {
	top: 1px !important;
	position: absolute !important;
	left: 0px;
	width: 14.497924804688px;
	height: 13.876403808594px;
	background:url(../skins/icon_awesome_star.png);
	background-size:cover;
}


#icon_awesome_star_ek1 {
	top: 1px !important;
	position: absolute !important;
	left: 20px;
	width: 14.497924804688px;
	height: 13.876403808594px;
	background:url(../skins/icon_awesome_star_ek1.png);
	background-size:cover;
}


#icon_awesome_star_ek2 {
	top: 0px !important;
	position: absolute !important;
	left: 40px;
	width: 15.520629882812px;
	height: 14.892395019531px;
	background:url(../skins/icon_awesome_star_ek2.png);
	background-size:cover;
}


#icon_awesome_star_ek3 {
	top: 0px !important;
	position: absolute !important;
	left: 79px;
	width: 15.520629882812px;
	height: 14.892395019531px;
	background:url(../skins/icon_awesome_star_ek3.png);
	background-size:cover;
}


#icon_metro_star_half {
	top: 0px !important;
	position: absolute !important;
	left: 60px;
	width: 15.729736328125px;
	height: 15.05712890625px;
	background:url(../skins/icon_metro_star_half.png);
	background-size:cover;
}

#starsrate {
	top: 110px;
	left: 361px;
	width: 78.66015625px;
	height: 13.876403808594px;
}

#icon_awesome_star_ek4 {
	top: 0px !important;
	position: absolute !important;
	left: 0px;
	width: 14.497924804688px;
	height: 13.876403808594px;
	background:url(../skins/icon_awesome_star_ek4.png);
	background-size:cover;
}


#icon_awesome_star_ek5 {
	top: 0px !important;
	position: absolute !important;
	left: 16px;
	width: 14.497924804688px;
	height: 13.876403808594px;
	background:url(../skins/icon_awesome_star_ek5.png);
	background-size:cover;
}


#icon_awesome_star_ek6 {
	top: 0px !important;
	position: absolute !important;
	left: 32px;
	width: 14.497924804688px;
	height: 13.876403808594px;
	background:url(../skins/icon_awesome_star_ek6.png);
	background-size:cover;
}


#icon_awesome_star_ek7 {
	top: 0px !important;
	position: absolute !important;
	left: 48px;
	width: 14.497924804688px;
	height: 13.876403808594px;
	background:url(../skins/icon_awesome_star_ek7.png);
	background-size:cover;
}


#icon_awesome_star_ek8 {
	top: -1px !important;
	position: absolute !important;
	left: 64px;
	width: 15.520629882812px;
	height: 14.892395019531px;
	background:url(../skins/icon_awesome_star_ek8.png);
	background-size:cover;
}

#reviewscustomer4 {
	top: 570px;
	left: 231px;
	width: 451px;
	height: 139px;
}

#rectangle_1171 {
	top: 0px;
	left: 0px;
	width: 451px;
	height: 139px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background:rgba(250,248,248,255);
}

#group_459 {
	top: 17px;
	left: 130px;
	width: 78.66015625px;
	height: 13.876403808594px;
}

#icon_awesome_star_ek9 {
	top: 0px !important;
	position: absolute !important;
	left: 0px;
	width: 14.497924804688px;
	height: 13.876403808594px;
	background:url(../skins/icon_awesome_star_ek9.png);
	background-size:cover;
}


#icon_awesome_star_ek10 {
	top: 0px !important;
	position: absolute !important;
	left: 16px;
	width: 14.497924804688px;
	height: 13.876403808594px;
	background:url(../skins/icon_awesome_star_ek10.png);
	background-size:cover;
}


#icon_awesome_star_ek11 {
	top: 0px !important;
	position: absolute !important;
	left: 32px;
	width: 14.497924804688px;
	height: 13.876403808594px;
	background:url(../skins/icon_awesome_star_ek11.png);
	background-size:cover;
}


#icon_awesome_star_ek12 {
	top: -1px !important;
	position: absolute !important;
	left: 48px;
	width: 15.520629882812px;
	height: 14.892395019531px;
	background:url(../skins/icon_awesome_star_ek12.png);
	background-size:cover;
}


#icon_awesome_star_ek13 {
	top: -1px !important;
	position: absolute !important;
	left: 64px;
	width: 15.520629882812px;
	height: 14.892395019531px;
	background:url(../skins/icon_awesome_star_ek13.png);
	background-size:cover;
}


#it_s_good_but_i_prefer_another_room {
	top: 31px;
	left: 130px;
	width: 211px;
	height: 19px;
	font-family: Poppins;
	font-size: 12px;
	text-align: left;
	color:#1e1e1e;
}


#we_arrived_there_at_midnight__we_went_up_and_found__a_breakfast_room_surprisingly_at_rooftop_with_free_drinks__and_breads__it_was_already_great_for_us_with_hungry_at__cold_midnight__thank_you_so_much__the_room_is_silent_ {
	top: 56px;
	left: 130px;
	width: 281px;
	height: 65px;
	font-family: Poppins;
	font-size: 10px;
	text-align: left;
	color:#1e1e1e;
}

#group_463 {
	top: 15px;
	left: 28px;
	width: 56px;
	height: 109px;
}
#group_462 {
	top: 0px;
	left: 3px;
	width: 50px;
	height: 50px;
}

#ellipse_9 {
	top: 0px;
	left: 0px;
	width: 50px;
	height: 50px;
	-ms-border-radius: 25px / 25px;
	-o-border-radius: 25px / 25px;
	-moz-border-radius: 25px / 25px;
	-webkit-border-radius: 25px / 25px;
	border-radius: 25px / 25px;
	-ms-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-o-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-webkit-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-moz-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	background:rgba(239,240,240,255);
}


#n {
	top: 2px;
	left: 14px;
	width: 23px;
	height: 40px;
	font-family: Poppins;
	font-size: 25px;
	text-align: left;
	color:#bfa068;
}


#noey {
	top: 54px;
	left: 14px;
	width: 41px;
	height: 23px;
	font-family: Poppins;
	font-size: 14px;
	text-align: left;
	color:#1e1e1e;
}


#april_20__2019_6_months_ago {
	top: 84px;
	left: -1px;
	width: 61px;
	height: 25px;
	font-family: Poppins;
	font-size: 8px;
	text-align: center;
	color:#1e1e1e;
}

#reviewscustomer3 {
	top: 406px;
	left: 231px;
	width: 451px;
	height: 139px;
}

#rectangle_1171_ek1 {
	top: 0px;
	left: 0px;
	width: 451px;
	height: 139px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background:rgba(250,248,248,255);
}

#group_459_ek1 {
	top: 17px;
	left: 130px;
	width: 78.66015625px;
	height: 13.876403808594px;
}

#icon_awesome_star_ek14 {
	top: 0px !important;
	position: absolute !important;
	left: 0px;
	width: 14.497924804688px;
	height: 13.876403808594px;
	background:url(../skins/icon_awesome_star_ek14.png);
	background-size:cover;
}


#icon_awesome_star_ek15 {
	top: 0px !important;
	position: absolute !important;
	left: 16px;
	width: 14.497924804688px;
	height: 13.876403808594px;
	background:url(../skins/icon_awesome_star_ek15.png);
	background-size:cover;
}


#icon_awesome_star_ek16 {
	top: 0px !important;
	position: absolute !important;
	left: 32px;
	width: 14.497924804688px;
	height: 13.876403808594px;
	background:url(../skins/icon_awesome_star_ek16.png);
	background-size:cover;
}


#icon_awesome_star_ek17 {
	top: -1px !important;
	position: absolute !important;
	left: 48px;
	width: 15.520629882812px;
	height: 14.892395019531px;
	background:url(../skins/icon_awesome_star_ek17.png);
	background-size:cover;
}


#icon_awesome_star_ek18 {
	top: -1px !important;
	position: absolute !important;
	left: 64px;
	width: 15.520629882812px;
	height: 14.892395019531px;
	background:url(../skins/icon_awesome_star_ek18.png);
	background-size:cover;
}


#exceptional {
	top: 31px;
	left: 130px;
	width: 73px;
	height: 19px;
	font-family: Poppins;
	font-size: 12px;
	text-align: left;
	color:#1e1e1e;
}


#very_convenient__quite_and_accessible__the_staff_were_helpful__and_can_communicate_in_english__very_nice_rooftop_with__a_view_of_the_namsan_tower__consistent_heating_was_provided__because_its_winter__i_also_like_it_because_i_can_do_laundry__ {
	top: 56px;
	left: 130px;
	width: 313px;
	height: 65px;
	font-family: Poppins;
	font-size: 10px;
	text-align: left;
	color:#1e1e1e;
}

#group_463_ek1 {
	top: 15px;
	left: 28px;
	width: 56px;
	height: 109px;
}
#group_462_ek1 {
	top: 0px;
	left: 3px;
	width: 50px;
	height: 50px;
}

#ellipse_9_ek1 {
	top: 0px;
	left: 0px;
	width: 50px;
	height: 50px;
	-ms-border-radius: 25px / 25px;
	-o-border-radius: 25px / 25px;
	-moz-border-radius: 25px / 25px;
	-webkit-border-radius: 25px / 25px;
	border-radius: 25px / 25px;
	-ms-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-o-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-webkit-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-moz-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	background:rgba(239,240,240,255);
}


#m {
	top: 2px;
	left: 14px;
	width: 27px;
	height: 40px;
	font-family: Poppins;
	font-size: 25px;
	text-align: left;
	color:#bfa068;
}


#mos {
	top: 54px;
	left: 14px;
	width: 34px;
	height: 23px;
	font-family: Poppins;
	font-size: 14px;
	text-align: left;
	color:#1e1e1e;
}


#may_3__2019_4_months_ago {
	top: 84px;
	left: -1px;
	width: 61px;
	height: 25px;
	font-family: Poppins;
	font-size: 8px;
	text-align: center;
	color:#1e1e1e;
}

#reviewscustomer2 {
	top: 250px;
	left: 231px;
	width: 451px;
	height: 139px;
}

#rectangle_1171_ek2 {
	top: 0px;
	left: 0px;
	width: 451px;
	height: 139px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background:rgba(250,248,248,255);
}

#starsrate_ek1 {
	top: 17px;
	left: 130px;
	width: 78.66015625px;
	height: 13.876403808594px;
}

#icon_awesome_star_ek19 {
	top: 0px !important;
	position: absolute !important;
	left: 0px;
	width: 14.497924804688px;
	height: 13.876403808594px;
	background:url(../skins/icon_awesome_star_ek19.png);
	background-size:cover;
}


#icon_awesome_star_ek20 {
	top: 0px !important;
	position: absolute !important;
	left: 16px;
	width: 14.497924804688px;
	height: 13.876403808594px;
	background:url(../skins/icon_awesome_star_ek20.png);
	background-size:cover;
}


#icon_awesome_star_ek21 {
	top: 0px !important;
	position: absolute !important;
	left: 32px;
	width: 14.497924804688px;
	height: 13.876403808594px;
	background:url(../skins/icon_awesome_star_ek21.png);
	background-size:cover;
}


#icon_awesome_star_ek22 {
	top: 0px !important;
	position: absolute !important;
	left: 48px;
	width: 14.497924804688px;
	height: 13.876403808594px;
	background:url(../skins/icon_awesome_star_ek22.png);
	background-size:cover;
}


#icon_awesome_star_ek23 {
	top: -1px !important;
	position: absolute !important;
	left: 64px;
	width: 15.520629882812px;
	height: 14.892395019531px;
	background:url(../skins/icon_awesome_star_ek23.png);
	background-size:cover;
}


#it_is_so_great_to_have_this_toom {
	top: 31px;
	left: 130px;
	width: 186px;
	height: 19px;
	font-family: Poppins;
	font-size: 12px;
	text-align: left;
	color:#1e1e1e;
}


#we_like_the_room__the_breakfast__especially_the_apple_jam_____the_rooftop__the_staff_was_friendly_and_very_attentive_in__helping_us_with_our_luggage__just_one_thing_that_we_have__found__the_towels_in_the_bathroom_smelled_damp_ {
	top: 56px;
	left: 130px;
	width: 298px;
	height: 65px;
	font-family: Poppins;
	font-size: 10px;
	text-align: left;
	color:#1e1e1e;
}

#group_463_ek2 {
	top: 15px;
	left: 28px;
	width: 56px;
	height: 109px;
}
#group_462_ek2 {
	top: 0px;
	left: 3px;
	width: 50px;
	height: 50px;
}

#ellipse_9_ek2 {
	top: 0px;
	left: 0px;
	width: 50px;
	height: 50px;
	-ms-border-radius: 25px / 25px;
	-o-border-radius: 25px / 25px;
	-moz-border-radius: 25px / 25px;
	-webkit-border-radius: 25px / 25px;
	border-radius: 25px / 25px;
	-ms-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-o-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-webkit-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-moz-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	background:rgba(239,240,240,255);
}


#h {
	top: 2px;
	left: 14px;
	width: 23px;
	height: 40px;
	font-family: Poppins;
	font-size: 25px;
	text-align: left;
	color:#bfa068;
}


#hue {
	top: 54px;
	left: 14px;
	width: 33px;
	height: 23px;
	font-family: Poppins;
	font-size: 14px;
	text-align: left;
	color:#1e1e1e;
}


#may_24__2019_4_months_ago {
	top: 84px;
	left: -1px;
	width: 61px;
	height: 25px;
	font-family: Poppins;
	font-size: 8px;
	text-align: center;
	color:#1e1e1e;
}

#reviewcustomer1 {
	top: 93px;
	left: 231px;
	width: 451px;
	height: 139px;
}

#rectangle_1171_ek3 {
	top: 0px;
	left: 0px;
	width: 451px;
	height: 139px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background:rgba(250,248,248,255);
}

#starsrate_ek2 {
	top: 17px;
	left: 130px;
	width: 78.66015625px;
	height: 13.876403808594px;
}

#icon_awesome_star_ek24 {
	top: 0px !important;
	position: absolute !important;
	left: 0px;
	width: 14.497924804688px;
	height: 13.876403808594px;
	background:url(../skins/icon_awesome_star_ek24.png);
	background-size:cover;
}


#icon_awesome_star_ek25 {
	top: 0px !important;
	position: absolute !important;
	left: 16px;
	width: 14.497924804688px;
	height: 13.876403808594px;
	background:url(../skins/icon_awesome_star_ek25.png);
	background-size:cover;
}


#icon_awesome_star_ek26 {
	top: 0px !important;
	position: absolute !important;
	left: 32px;
	width: 14.497924804688px;
	height: 13.876403808594px;
	background:url(../skins/icon_awesome_star_ek26.png);
	background-size:cover;
}


#icon_awesome_star_ek27 {
	top: 0px !important;
	position: absolute !important;
	left: 48px;
	width: 14.497924804688px;
	height: 13.876403808594px;
	background:url(../skins/icon_awesome_star_ek27.png);
	background-size:cover;
}


#icon_awesome_star_ek28 {
	top: -1px !important;
	position: absolute !important;
	left: 64px;
	width: 15.520629882812px;
	height: 14.892395019531px;
	background:url(../skins/icon_awesome_star_ek28.png);
	background-size:cover;
}


#this_was_nice_to_buy {
	top: 31px;
	left: 128px;
	width: 125px;
	height: 19px;
	font-family: Poppins;
	font-size: 12px;
	text-align: center;
	color:#1e1e1e;
}


#it_is_second_time_stay_at_sea_view___food_service_both_good__only_if_u_r_not_sporty___u_have_to_take_taxi_out_of_hotel___there_are_many_monkeys_in_the_forest_of_the_hotel__but_friendly__rooms_nearby_beach_is_less_good_than_on_the_top {
	top: 56px;
	left: 130px;
	width: 313px;
	height: 65px;
	font-family: Poppins;
	font-size: 10px;
	text-align: left;
	color:#1e1e1e;
}

#group_463_ek3 {
	top: 15px;
	left: 18px;
	width: 76px;
	height: 109px;
}
#group_462_ek3 {
	top: 0px;
	left: 13px;
	width: 50px;
	height: 50px;
}

#ellipse_9_ek3 {
	top: 0px;
	left: 0px;
	width: 50px;
	height: 50px;
	-ms-border-radius: 25px / 25px;
	-o-border-radius: 25px / 25px;
	-moz-border-radius: 25px / 25px;
	-webkit-border-radius: 25px / 25px;
	border-radius: 25px / 25px;
	-ms-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-o-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-webkit-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-moz-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	background:rgba(239,240,240,255);
}


#m_ek1 {
	top: 2px;
	left: 14px;
	width: 27px;
	height: 40px;
	font-family: Poppins;
	font-size: 25px;
	text-align: left;
	color:#bfa068;
}


#mook {
	top: 54px;
	left: 19px;
	width: 44px;
	height: 23px;
	font-family: Poppins;
	font-size: 14px;
	text-align: left;
	color:#1e1e1e;
}


#september_24__2018_1_month_ago {
	top: 84px;
	left: -1px;
	width: 81px;
	height: 25px;
	font-family: Poppins;
	font-size: 8px;
	text-align: center;
	color:#1e1e1e;
}

#group_462_ek4 {
	top: 15px;
	left: 31px;
	width: 50px;
	height: 50px;
}

#ellipse_9_ek4 {
	top: 0px;
	left: 0px;
	width: 50px;
	height: 50px;
	-ms-border-radius: 25px / 25px;
	-o-border-radius: 25px / 25px;
	-moz-border-radius: 25px / 25px;
	-webkit-border-radius: 25px / 25px;
	border-radius: 25px / 25px;
	-ms-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-o-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-webkit-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-moz-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	background:rgba(239,240,240,255);
}


#m_ek2 {
	top: 2px;
	left: 14px;
	width: 27px;
	height: 40px;
	font-family: Poppins;
	font-size: 25px;
	text-align: left;
	color:#bfa068;
}


#mook_ek1 {
	top: 69px;
	left: 37px;
	width: 44px;
	height: 23px;
	font-family: Poppins;
	font-size: 14px;
	text-align: left;
	color:#1e1e1e;
}


#september_24__2019_1_month_ago {
	top: 99px;
	left: 17px;
	width: 81px;
	height: 25px;
	font-family: Poppins;
	font-size: 8px;
	text-align: center;
	color:#1e1e1e;
}


#this_was_nice_to_buy_ek1 {
	top: 31px;
	left: 128px;
	width: 125px;
	height: 19px;
	font-family: Poppins;
	font-size: 12px;
	text-align: center;
	color:#1e1e1e;
}


#it_is_second_time_stay_at_sea_view___food_service_both_good__only_if_u_r_not_sporty___u_have_to_take_taxi_out_of_hotel___there_are_many_monkeys_in_the_forest_of_the_hotel__but_friendly__rooms_nearby_beach_is_less_good_than_on_the_top_ {
	top: 56px;
	left: 130px;
	width: 313px;
	height: 65px;
	font-family: Poppins;
	font-size: 10px;
	text-align: left;
	color:#1e1e1e;
}


#___55_343_per_night {
	top: 0px;
	left: 163px;
	width: 129px;
	height: 23px;
	font-family: Poppins;
	font-size: 14px;
	text-align: left;
	color:#1e1e1e;
}


#all_reviews {
	top: 54px;
	left: 252px;
	width: 71px;
	height: 19px;
	font-family: Poppins;
	font-size: 12px;
	text-align: center;
	color:#1e1e1e;
}


#superior_room_ek1 {
	top: -5px;
	left: -3px;
	width: 147px;
	height: 31px;
	font-family: Poppins;
	font-size: 19px;
	text-align: center;
	color:#1e1e1e;
}

#dropmoststars {
	top: 56px;
	left: 570px;
	width: 99px;
	height: 21px;
}

#rectangle_25 {
	top: 0px;
	left: 0px;
	width: 99px;
	height: 21px;
	-ms-border-radius: 10.5px;
	-o-border-radius: 10.5px;
	-moz-border-radius: 10.5px;
	-webkit-border-radius: 10.5px;
	border-radius: 10.5px;
	-ms-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-o-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-webkit-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-moz-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	background:rgba(221,221,221,255);
}


#most_stars {
	top: 0px;
	left: 17px;
	width: 55px;
	height: 17px;
	font-family: Poppins;
	font-size: 10px;
	text-align: center;
	color:#474747;
}


#icon_material_arrow_drop_down {
	top: 7px !important;
	position: absolute !important;
	left: 75px;
	width: 13px;
	height: 7px;
	background:url(../skins/icon_material_arrow_drop_down.png);
	background-size:cover;
}

#navbar {
	top: 0px;
	left: 0px;
	width: 1024px;
	height: 78px;
}

#bgnav {
	top: 0px !important;
	position: absolute !important;
	left: 0px;
	width: 1024px;
	height: 78px;
	background:url(../skins/bgnav.png);
	background-size:cover;
}


#logo_ek1 {
	top: 10px !important;
	position: absolute !important;
	left: 36px;
	width: 63px;
	height: 58px;
	background:url(../skins/logo_ek1.png);
	background-size:cover;
}


#about {
	top: 26px;
	left: 134px;
	width: 99px;
	height: 28px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 14px;
	text-align: left;
	line-height: 14px;
	color:#ffffff;
}


#services {
	top: 26px;
	left: 202px;
	width: 99px;
	height: 40px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 14px;
	text-align: left;
	line-height: 14px;
	color:#ffffff;
}


#events {
	top: 26px;
	left: 293px;
	width: 99px;
	height: 40px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 14px;
	text-align: left;
	line-height: 14px;
	color:#ffffff;
}


#offers {
	top: 26px;
	left: 370px;
	width: 99px;
	height: 40px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 14px;
	text-align: left;
	line-height: 14px;
	color:#ffffff;
}


#reviews_ek1 {
	top: 26px;
	left: 430px;
	width: 80px;
	height: 40px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 14px;
	text-align: center;
	line-height: 14px;
	color:#ffffff;
}


#gallery {
	top: 26px;
	left: 515px;
	width: 72px;
	height: 40px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 14px;
	text-align: center;
	line-height: 14px;
	color:#ffffff;
}


#linreviews {
	top: 50px !important;
	position: absolute !important;
	left: 444px;
	width: 18px;
	height: 2.5px;
	background:url(../skins/linreviews.png);
	background-size:cover;
}

#booknow {
	top: 13px;
	left: 700px;
	width: 307.33325195312px;
	height: 52px;
}

#rectangle_1102 {
	top: 9px;
	left: 0px;
	width: 152px;
	height: 33px;
	-ms-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-o-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-webkit-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-moz-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	background:rgba(191,159,104,255);
}


#book_now {
	top: 13px;
	left: 38px;
	width: 77px;
	height: 22px;
	font-family: Poppins;
	font-size: 13px;
	text-align: center;
	color:#ffffff;
}


#ellipse_9_ek5 {
	top: 1px;
	left: 170px;
	width: 48px;
	height: 48px;
	-ms-border-radius: 25px / 25px;
	-o-border-radius: 25px / 25px;
	-moz-border-radius: 25px / 25px;
	-webkit-border-radius: 25px / 25px;
	border-radius: 25px / 25px;
	border: 1px solid #707070;
	-ms-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-o-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-webkit-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-moz-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	background:rgba(239,240,240,255);
}


#m_ek3 {
	top: 3px;
	left: 184px;
	width: 27px;
	height: 40px;
	font-family: Poppins;
	font-size: 25px;
	text-align: left;
	color:#bfa068;
}


#mook_c_ {
	top: 12px;
	left: 231px;
	width: 60px;
	height: 23px;
	font-family: Poppins;
	font-size: 14px;
	text-align: left;
	color:#ffffff;
}


#icon_material_arrow_drop_down_ek1 {
	top: 23px !important;
	position: absolute !important;
	left: 294px;
	width: 13px;
	height: 7px;
	background:url(../skins/icon_material_arrow_drop_down_ek1.png);
	background-size:cover;
}


#rectangle_1154 {
	top: 0px;
	left: 162px;
	width: 0.5px;
	height: 52px;
	background:rgba(238,238,238,255);
}


#how_was_your_stay_ {
	top: 189px;
	left: 66px;
	width: 202px;
	height: 32px;
	font-family: Poppins;
	font-size: 20px;
	text-align: left;
	color:#9c7d07;
}

#button {
	top: 232.99995422363px;
	left: 69px;
	width: 180px;
	height: 30.000015258789px;
}

#rectangle_1091 {
	top: 0px;
	left: 0px;
	width: 177px;
	height: 26.999984741211px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1.5px solid #bfa168;
	background:rgba(127,127,127,0);
}


#write_reviews {
	top: 1px;
	left: 39px;
	width: 101px;
	height: 22.999984741211px;
	font-family: Poppins;
	font-size: 14px;
	text-align: center;
	color:#bfa168;
}

#navnum {
	top: 1053px;
	left: 376px;
	width: 301px;
	height: 24px;
}

#_1 {
	opacity:0.85439497232437;
	top: -3px;
	left: 55px;
	width: 13px;
	height: 20px;
	font-family: Arial;
	font-size: 16px;
	text-align: center;
	color:#606060;
}


#_2 {
	top: -3px;
	left: 99px;
	width: 13px;
	height: 20px;
	font-family: Arial;
	font-size: 16px;
	text-align: center;
	color:#d8d4cd;
}
#_2:hover{
	cursor:pointer;
    color: #606060 !important;
}


#_3 {
	top: -3px;
	left: 143px;
	width: 13px;
	height: 20px;
	font-family: Arial;
	font-size: 16px;
	text-align: center;
	color:#d8d4cd;
}


#_4 {
	top: -3px;
	left: 187px;
	width: 13px;
	height: 20px;
	font-family: Arial;
	font-size: 16px;
	text-align: center;
	color:#d8d4cd;
}


#_5 {
	top: -3px;
	left: 232px;
	width: 13px;
	height: 20px;
	font-family: Arial;
	font-size: 16px;
	text-align: center;
	color:#d8d4cd;
}

#right {
	top: 0px;
	left: 278px;
	width: 23px;
	height: 24px;
}

#path_10 {
	top: 0px !important;
	position: absolute !important;
	left: 0px;
	width: 23.62353515625px;
	height: 23.62353515625px;
	background:url(../skins/path_10.png);
	background-size:cover;
}

#left {
	top: 0px;
	left: 0px;
	width: 24px;
	height: 24px;
}

#path_10_ek1 {
	top: 0px !important;
	position: absolute !important;
	left: 0px;
	width: 23.62353515625px;
	height: 23.62353515625px;
	background:url(../skins/path_10_ek1.png);
	background-size:cover;
}

#tell {
	top: 181px;
	left: 294px;
	width: 464px;
	height: 98px;
}

#rectangle_1194 {
	opacity:0.24397699534893;
	top: 0px;
	left: 0px;
	width: 464px;
	height: 98px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:rgba(209,187,146,255);
}


#let_everyone_know_how_it_was___post_a_review_on_our_website__it_s_been_great_having_you_stay_ {
	top: 17px;
	left: 37px;
	width: 368px;
	height: 37px;
	font-family: Poppins;
	font-size: 12px;
	text-align: left;
	color:#707070;
}


#thank_you_for_your_comments_ {
	top: 64px;
	left: 127px;
	width: 188px;
	height: 19px;
	font-family: Poppins;
	font-size: 12px;
	text-align: left;
	color:#707070;
}



/* Add your custom CSS here */
