/*
	@name your_room
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; /*overflow-x:hidden;*/ }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: table; position: relative; width: 1024px; height: 1939px; margin-left: auto; margin-right: auto;  }

#_bg__your_room {
	top: 0px;
	left: 0px;
	width: 1024px;
	height: 1939px;
	background:rgba(255,255,255,255);
}

#footer {
	top: 1741px;
	left: 0px;
	width: 1035px;
	height: 198px;
}

#footer_ek1 {
	top: 0px;
	left: 2px;
	width: 1024px;
	height: 150px;
	background:rgba(255,255,255,255);
}


#logo {
	top: 17px;
	left: 0px;
	width: 136px;
	height: 125px;
}


#path_1 {
	top: 11px;
	left: 23px;
	width: 974px;
	height: 1px;
}


#__p__contact_us__mail__433_132_someroad_rd___10999_bankok__thailand_email__uhotel_reservation_abc_com_tel___66__0__2_231_4421 {
	top: 21px;
	left: 136px;
	width: 340px;
	height: 176.5px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 17px;
	text-align: left;
	line-height: 17px;
	color:#666666;
}


#__p__follow_us {
	top: 21px;
	left: 504px;
	width: 340px;
	height: 176.5px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 17px;
	text-align: left;
	line-height: 17px;
	color:#666666;
}


#__p__subscribe {
	top: 21px;
	left: 695px;
	width: 340px;
	height: 176.5px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 17px;
	text-align: left;
	line-height: 17px;
	color:#666666;
}


#facebook {
	top: 79px;
	left: 507px;
	width: 28px;
	height: 28px;
}


#facebook_ek1 {
	top: 77px;
	left: 607px;
	width: 31px;
	height: 31px;
}


#facebook_ek2 {
	top: 69px;
	left: 566px;
	width: 46px;
	height: 46px;
}


#facebook_ek3 {
	top: 79px;
	left: 540px;
	width: 29px;
	height: 29px;
}


#path_2 {
	top: 104px;
	left: 647px;
	width: 0px;
	height: 0px;
}


#rectangle_1 {
	top: 72px;
	left: 695px;
	width: 299px;
	height: 38px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #aeaeae;
	background:rgba(255,255,255,255);
}


#__p__enter_your_email {
	top: 80px;
	left: 709px;
	width: 253px;
	height: 27.5px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 13px;
	text-align: left;
	line-height: 13px;
	color:#aeaeae;
}

#repeat_grid_1 {
	top: 99px;
	left: 0px;
	width: 1024px;
	height: 71px;
	overflow:hidden;
}

#fa94a5d7235d1c883a1adea1e3f7dd5e {
	top: -99px;
	left: 0px;
	width: 1024px;
	height: 353px;
}


#rectangle_1112 {
	opacity:0.93824499845505;
	top: 393px;
	left: 156px;
	width: 724px;
	height: 63px;
	background:rgba(30,30,30,255);
}


#rectangle_9 {
	top: 153px;
	left: 166px;
	width: 173px;
	height: 62px;
	-ms-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-o-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-webkit-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-moz-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	background:rgba(0,0,0,255);
}


#rectangle_1086 {
	top: 153px;
	left: 512px;
	width: 173px;
	height: 62px;
	-ms-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-o-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-webkit-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-moz-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	background:rgba(255,255,255,255);
}


#_3 {
	top: 156px;
	left: 526px;
	width: 20px;
	height: 41px;
	font-family: Poppins;
	font-size: 26px;
	text-align: left;
	color:#b0b0b0;
}


#payment {
	top: 187px;
	left: 607px;
	width: 65px;
	height: 22px;
	font-family: Poppins;
	font-size: 13px;
	text-align: left;
	color:#000000;
}


#rectangle_12 {
	top: 153px;
	left: 685px;
	width: 173px;
	height: 62px;
	-ms-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-o-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-webkit-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-moz-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	background:rgba(255,255,255,255);
}


#_4 {
	top: 156px;
	left: 699px;
	width: 21px;
	height: 41px;
	font-family: Poppins;
	font-size: 26px;
	text-align: left;
	color:#b0b0b0;
}


#confirm {
	top: 187px;
	left: 780px;
	width: 59px;
	height: 22px;
	font-family: Poppins;
	font-size: 13px;
	text-align: left;
	color:#000000;
}


#rectangle_13 {
	top: 305px;
	left: 156px;
	width: 95px;
	height: 16px;
	-ms-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-o-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-webkit-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-moz-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	background:rgba(0,0,0,255);
}


#when_you_book_our_bed___breakfast_rate__you_always_save_at_least_10__on_our_organic_breakfast___ {
	top: 348px;
	left: 170px;
	width: 690px;
	height: 44px;
	font-family: Poppins;
	font-size: 14px;
	text-align: left;
	color:#000000;
}


#icon_ionic_md_checkmark {
	top: 171.873046875px;
	left: 184.02099609375px;
	width: 26.09814453125px;
	height: 19.845458984375px;
}


#rectangle_23 {
	top: 257px;
	left: 842px;
	width: 36px;
	height: 25px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#rectangle_22 {
	top: 257px;
	left: 802px;
	width: 37px;
	height: 27px;
	background:rgba(207,191,108,255);
}


#icon_material_view_module {
	top: 260.41870117188px;
	left: 808.103515625px;
	width: 25.40625px;
	height: 20.14208984375px;
}


#icon_material_view_stream {
	top: 260.41870117188px;
	left: 848.3017578125px;
	width: 25.40625px;
	height: 20.14208984375px;
}


#icon_ionic_ios_arrow_back {
	top: 148px;
	left: 43px;
	width: 25px;
	height: 44px;
}


#icon_ionic_ios_arrow_back_ek1 {
	top: 148px;
	left: 956px;
	width: 25px;
	height: 44px;
}


#line_4 {
	top: 494px;
	left: 297.4814453125px;
	width: 542.0185546875px;
	height: 1px;
}


#icon_material_filter_list {
	top: 473.48657226562px;
	left: 184.73974609375px;
	width: 24.990234375px;
	height: 16.66015625px;
}


#filter__sort {
	top: 471px;
	left: 213px;
	width: 65px;
	height: 17px;
	font-family: Poppins;
	font-size: 10px;
	text-align: center;
	color:#939290;
}


#rectangle_28 {
	top: 834px;
	left: 398px;
	width: 250px;
	height: 267px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-ms-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-o-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-webkit-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-moz-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	background:rgba(233,236,239,255);
}

#group_22 {
	top: 469px;
	left: 303px;
	width: 99px;
	height: 21px;
}

#rectangle_25 {
	top: 0px;
	left: 0px;
	width: 99px;
	height: 21px;
	-ms-border-radius: 10.5px;
	-o-border-radius: 10.5px;
	-moz-border-radius: 10.5px;
	-webkit-border-radius: 10.5px;
	border-radius: 10.5px;
	-ms-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-o-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-webkit-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-moz-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	background:rgba(221,221,221,255);
}

#icon_ionic_ios_close_circle_outline {
	top: 3px;
	left: 77px;
	width: 14.71875px;
	height: 14.71875px;
}

#path_9 {
	top: 5px;
	left: 5px;
	width: 5.669921875px;
	height: 5.672119140625px;
}


#path_10 {
	top: 0px;
	left: 0px;
	width: 14.71875px;
	height: 14.71875px;
}

#group_23 {
	top: 469px;
	left: 407.99951171875px;
	width: 99px;
	height: 21px;
}

#rectangle_25_ek1 {
	top: 0px;
	left: 0px;
	width: 99px;
	height: 21px;
	-ms-border-radius: 10.5px;
	-o-border-radius: 10.5px;
	-moz-border-radius: 10.5px;
	-webkit-border-radius: 10.5px;
	border-radius: 10.5px;
	-ms-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-o-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-webkit-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-moz-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	background:rgba(221,221,221,255);
}

#icon_ionic_ios_close_circle_outline_ek1 {
	top: 3px;
	left: 78px;
	width: 14.71875px;
	height: 14.71875px;
}

#path_9_ek1 {
	top: 5px;
	left: 5px;
	width: 5.669921875px;
	height: 5.672119140625px;
}


#path_10_ek1 {
	top: 0px;
	left: 0px;
	width: 14.71875px;
	height: 14.71875px;
}


#path_50 {
	top: 1138.5185546875px;
	left: 79.85400390625px;
	width: 882.14599609375px;
	height: 501.0458984375px;
}


#superior_room {
	top: 1157px;
	left: 129px;
	width: 123px;
	height: 26px;
	font-family: Poppins;
	font-size: 16px;
	text-align: center;
	color:#cfbf6c;
}


#from_32_sqm_a_fresh_design_reflecting_a_modern__lifestyle__our_superior_rooms_are_fully_equipped_with__necessary_amenities__internet__idd_telephone__tea__and_coffee_making_facilities__in_room_entertainment__systems_and_a_deluxe_tv_channel_selections_ {
	top: 1217px;
	left: 480px;
	width: 261px;
	height: 81px;
	font-family: Poppins;
	font-size: 10px;
	text-align: left;
	color:#474747;
}


#premium_deluxe_main2_enhanced {
	top: 1194px;
	left: 132px;
	width: 192px;
	height: 193px;
}


#rectangle_33 {
	top: 1190px;
	left: 607px;
	width: 79px;
	height: 23px;
	-ms-border-radius: 9px;
	-o-border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	background:rgba(225,225,225,255);
}


#king_bed {
	top: 1194px;
	left: 619px;
	width: 39px;
	height: 13px;
	font-family: Poppins;
	font-size: 8px;
	text-align: center;
	color:#000000;
}


#icon_material_arrow_drop_down {
	top: 1200.3818359375px;
	left: 670.083984375px;
	width: 6.02392578125px;
	height: 2.89306640625px;
}


#select_a_bedtype {
	top: 1190px;
	left: 478px;
	width: 107px;
	height: 19px;
	font-family: Poppins;
	font-size: 12px;
	text-align: center;
	color:#000000;
}


#rectangle_36 {
	top: 1405px;
	left: 124px;
	width: 92px;
	height: 31px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #d1d1d1;
	-ms-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-o-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-webkit-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-moz-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	background:rgba(255,255,255,255);
}


#amenities {
	top: 1410px;
	left: 143px;
	width: 55px;
	height: 17px;
	font-family: Poppins;
	font-size: 10px;
	text-align: center;
	color:#302a29;
}


#rectangle_37 {
	opacity:0.89986902475357;
	top: 1404px;
	left: 227px;
	width: 92px;
	height: 31px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #d1d1d1;
	-ms-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-o-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-webkit-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-moz-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	background:rgba(117,124,130,255);
}


#room_reviews {
	top: 1410px;
	left: 233px;
	width: 81px;
	height: 17px;
	font-family: Poppins;
	font-size: 10px;
	text-align: center;
	color:#ffffff;
}


#rectangle_35 {
	top: 1433px;
	left: 124px;
	width: 313px;
	height: 158px;
	border: 1px solid #d1d1d1;
	background:rgba(255,255,255,255);
}


#icon_awesome_wifi {
	top: 1450.55859375px;
	left: 165.63818359375px;
	width: 16.6435546875px;
	height: 11.18994140625px;
}


#__p__internet_access {
	top: 1464px;
	left: 135px;
	width: 72px;
	height: 16.5px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 9px;
	text-align: center;
	line-height: 9px;
	color:#707070;
}


#icon_awesome_windows {
	top: 1448.59765625px;
	left: 373.24462890625px;
	width: 13.4931640625px;
	height: 12.9599609375px;
}


#__p__television {
	top: 1464px;
	left: 210px;
	width: 61px;
	height: 25.5px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 9px;
	text-align: center;
	line-height: 9px;
	color:#707070;
}


#icon_map_hair_care {
	top: 1449.6206054688px;
	left: 306.37109375px;
	width: 14.58837890625px;
	height: 12.36376953125px;
}


#__p__hairdryer_ {
	top: 1464px;
	left: 283px;
	width: 58px;
	height: 16.5px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 9px;
	text-align: center;
	line-height: 9px;
	color:#707070;
}


#icon_material_tv {
	top: 1449.62109375px;
	left: 234.177734375px;
	width: 15.62451171875px;
	height: 12.27880859375px;
}


#__p__city_view {
	top: 1464px;
	left: 356px;
	width: 44px;
	height: 16.5px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 9px;
	text-align: center;
	line-height: 9px;
	color:#707070;
}

#cancel {
	top: 1161.2412109375px;
	left: 917.81689453125px;
	width: 15.6171875px;
	height: 15px;
}

#union_3 {
	top: -2px;
	left: -5px;
	width: 24.6171875px;
	height: 24px;
}

#forward_arrow_small {
	top: 1280px;
	left: 438.9921875px;
	width: 10.39697265625px;
	height: 15.6689453125px;
}

#path_36 {
	top: 0px;
	left: 0px;
	width: 10.39697265625px;
	height: 15.6689453125px;
}

#forward_arrow_small_ek1 {
	top: 1280px;
	left: 110.466796875px;
	width: 10.39697265625px;
	height: 15.6689453125px;
}

#path_36_ek1 {
	top: 0px;
	left: 0px;
	width: 10.39697265625px;
	height: 15.6689453125px;
}


#superior__sky_room_twin_bed_main_enhanced {
	top: 1194px;
	left: 335px;
	width: 93px;
	height: 94px;
}


#exe_deluxe_main1_enhanced {
	top: 1292px;
	left: 335px;
	width: 93px;
	height: 94px;
}


#polygon_3 {
	top: 1098px;
	left: 493px;
	width: 55px;
	height: 31px;
}

#group_103 {
	top: 153px;
	left: 339px;
	width: 173px;
	height: 62px;
}

#rectangle_1085 {
	top: 0px;
	left: 0px;
	width: 173px;
	height: 62px;
	-ms-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-o-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-webkit-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-moz-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	background:rgba(255,255,255,255);
}


#_2 {
	top: 3px;
	left: 14px;
	width: 20px;
	height: 41px;
	font-family: Poppins;
	font-size: 26px;
	text-align: left;
	color:#b0b0b0;
}


#your_room {
	top: 34px;
	left: 95px;
	width: 74px;
	height: 22px;
	font-family: Poppins;
	font-size: 13px;
	text-align: left;
	color:#000000;
}


#rectangle_28_ek1 {
	top: 544px;
	left: 124px;
	width: 248px;
	height: 265px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #d3534d;
	-ms-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-o-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-webkit-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-moz-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	background:rgba(246,246,246,255);
}


#rectangle_28_ek2 {
	top: 542px;
	left: 398px;
	width: 250px;
	height: 267px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-ms-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-o-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-webkit-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-moz-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	background:rgba(246,246,246,255);
}


#executive_deluxe_room__with_lounge_access {
	top: 707px;
	left: 416px;
	width: 109px;
	height: 27px;
	font-family: Poppins;
	font-size: 9px;
	text-align: left;
	color:#831e17;
}


#view_details {
	top: 783px;
	left: 415px;
	width: 49px;
	height: 10px;
	font-family: Poppins;
	font-size: 7px;
	text-decoration: underline;
	text-align: center;
	color:#474747;
}

#group_10 {
	top: 554px;
	left: 125px;
	width: 248px;
	height: 148px;
}

#mask_group_1 {
	top: 0px;
	left: 0px;
	width: 248px;
	height: 148px;
}


#premium_deluxe_room__with_lounge_access {
	top: 709px;
	left: 142px;
	width: 108px;
	height: 27px;
	font-family: Poppins;
	font-size: 9px;
	text-align: left;
	color:#831e17;
}


#view_details_ek1 {
	top: 783px;
	left: 141px;
	width: 49px;
	height: 10px;
	font-family: Poppins;
	font-size: 7px;
	text-decoration: underline;
	text-align: center;
	color:#474747;
}


#television_ek1 {
	top: 469px;
	left: 321px;
	width: 53px;
	height: 17px;
	font-family: Poppins;
	font-size: 10px;
	text-align: center;
	color:#474747;
}


#city_view_ek1 {
	top: 469px;
	left: 430px;
	width: 49px;
	height: 17px;
	font-family: Poppins;
	font-size: 10px;
	text-align: center;
	color:#474747;
}


#your_stay {
	top: 187px;
	left: 261px;
	width: 67px;
	height: 22px;
	font-family: Poppins;
	font-size: 13px;
	text-align: left;
	color:#ffffff;
}


#rectangle_1107 {
	top: 542px;
	left: 675px;
	width: 257px;
	height: 559px;
	background:rgba(245,243,239,255);
}


#rectangle_1106 {
	top: 75px;
	left: 0px;
	width: 1024px;
	height: 24px;
	background:rgba(0,0,0,255);
}


#enjoy_free_breakfast_at_uhotel_between_23_28_of_december__happy_holidays_ {
	top: 76px;
	left: 280px;
	width: 465px;
	height: 19px;
	font-family: Poppins;
	font-size: 12px;
	text-align: center;
	color:#ffffff;
}


#choose_your_room {
	top: 236px;
	left: 156px;
	width: 343px;
	height: 58px;
	font-family: Poppins;
	font-size: 36px;
	text-align: left;
	color:#000000;
}


#rectangle_1101 {
	top: 404px;
	left: 204px;
	width: 129px;
	height: 36px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #8d9096;
	background:rgba(255,255,255,255);
}


#_23_oct_2019 {
	top: 407px;
	left: 224px;
	width: 73px;
	height: 19px;
	font-family: Poppins;
	font-size: 12px;
	text-align: center;
	color:#000000;
}


#rectangle_1108 {
	top: 404px;
	left: 334px;
	width: 129px;
	height: 36px;
	border: 1px solid #8d9096;
	background:rgba(255,255,255,255);
}


#rectangle_1109 {
	top: 404px;
	left: 479px;
	width: 193px;
	height: 36px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #8d9096;
	background:rgba(255,255,255,255);
}


#rectangle_1111 {
	top: 404px;
	left: 714px;
	width: 128px;
	height: 38px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background:rgba(207,192,108,255);
}


#search {
	top: 413px;
	left: 758px;
	width: 41px;
	height: 17px;
	font-family: Poppins;
	font-size: 10px;
	text-align: center;
	color:#ffffff;
}


#icon_metro_calendar {
	top: 415.50268554688px;
	left: 304.8583984375px;
	width: 15px;
	height: 15px;
}


#tuesday {
	top: 420px;
	left: 239px;
	width: 47px;
	height: 17px;
	font-family: Poppins;
	font-size: 10px;
	text-align: left;
	color:#999999;
}


#_24_oct_2019 {
	top: 407px;
	left: 351px;
	width: 73px;
	height: 19px;
	font-family: Poppins;
	font-size: 12px;
	text-align: center;
	color:#000000;
}


#icon_metro_calendar_ek1 {
	top: 416.50268554688px;
	left: 431.8583984375px;
	width: 15px;
	height: 15px;
}


#tuesday_ek1 {
	top: 420px;
	left: 366px;
	width: 47px;
	height: 17px;
	font-family: Poppins;
	font-size: 10px;
	text-align: left;
	color:#999999;
}


#_1_adults {
	top: 406px;
	left: 553px;
	width: 49px;
	height: 19px;
	font-family: Poppins;
	font-size: 12px;
	text-align: center;
	color:#000000;
}


#_2_room {
	top: 419px;
	left: 560px;
	width: 40px;
	height: 17px;
	font-family: Poppins;
	font-size: 10px;
	text-align: left;
	color:#999999;
}

#symbol_156___4 {
	top: 421.22631835938px;
	left: 649.20263671875px;
	width: 8.88037109375px;
	height: 5.762939453125px;
}

#path_36_ek2 {
	top: 0px;
	left: 0px;
	width: 8.88037109375px;
	height: 5.762939453125px;
}


#icon_ionic_md_people {
	top: 415.5px;
	left: 499px;
	width: 20px;
	height: 15px;
}


#mask_group_1_ek1 {
	top: 543px;
	left: 396px;
	width: 252px;
	height: 157px;
}


#icon_material_favorite_border {
	top: 559px;
	left: 345.7646484375px;
	width: 21.25341796875px;
	height: 19.5px;
}

#group_340 {
	top: 543px;
	left: 124px;
	width: 250px;
	height: 11px;
}

#rectangle_1103 {
	top: 0px;
	left: 0px;
	width: 250px;
	height: 11px;
	background:rgba(207,63,55,255);
}


#sale_10__off_ {
	top: 0px;
	left: 19px;
	width: 41px;
	height: 9px;
	font-family: Poppins;
	font-size: 6px;
	text-align: left;
	color:#ffffff;
}


#expires_in_5h_7m_24s_ {
	top: 0px;
	left: 181px;
	width: 67px;
	height: 9px;
	font-family: Poppins;
	font-size: 6px;
	text-align: left;
	color:#ffffff;
}


#rectangle_1121 {
	top: 0px;
	left: 0px;
	width: 14px;
	height: 11px;
	background:rgba(165,50,44,255);
}


#icon_metro_alarm_on {
	top: 2px;
	left: 4px;
	width: 7px;
	height: 7.048828125px;
}


#icon_awesome_star {
	top: 713px;
	left: 249.21875px;
	width: 7.8359375px;
	height: 7.5px;
}


#icon_awesome_star_ek1 {
	top: 713px;
	left: 257.9033203125px;
	width: 7.8359375px;
	height: 7.5px;
}


#icon_awesome_star_ek2 {
	top: 713px;
	left: 266.58740234375px;
	width: 7.8359375px;
	height: 7.5px;
}


#_121_reviews {
	top: 713px;
	left: 279px;
	width: 31px;
	height: 8px;
	font-family: Poppins;
	font-size: 5px;
	text-align: left;
	color:#777777;
}


#icon_material_favorite_border_ek1 {
	top: 559px;
	left: 619.7646484375px;
	width: 21.25341796875px;
	height: 19.5px;
}


#icon_awesome_star_ek3 {
	top: 711px;
	left: 528.21875px;
	width: 7.8359375px;
	height: 7.5px;
}


#icon_awesome_star_ek4 {
	top: 711px;
	left: 536.9033203125px;
	width: 7.8359375px;
	height: 7.5px;
}


#icon_awesome_star_ek5 {
	top: 711px;
	left: 545.58740234375px;
	width: 7.8359375px;
	height: 7.5px;
}


#_72_reviews {
	top: 711px;
	left: 567px;
	width: 31px;
	height: 8px;
	font-family: Poppins;
	font-size: 5px;
	text-align: left;
	color:#777777;
}

#group_335 {
	top: 469px;
	left: 517.99951171875px;
	width: 99px;
	height: 21px;
}

#rectangle_25_ek2 {
	top: 0px;
	left: 0px;
	width: 99px;
	height: 21px;
	-ms-border-radius: 10.5px;
	-o-border-radius: 10.5px;
	-moz-border-radius: 10.5px;
	-webkit-border-radius: 10.5px;
	border-radius: 10.5px;
	-ms-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-o-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-webkit-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-moz-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	background:rgba(221,221,221,255);
}

#icon_ionic_ios_close_circle_outline_ek2 {
	top: 3px;
	left: 78px;
	width: 14.71875px;
	height: 14.71875px;
}

#path_9_ek2 {
	top: 5px;
	left: 5px;
	width: 5.669921875px;
	height: 5.672119140625px;
}


#path_10_ek2 {
	top: 0px;
	left: 0px;
	width: 14.71875px;
	height: 14.71875px;
}


#higest_price {
	top: 469px;
	left: 528px;
	width: 63px;
	height: 17px;
	font-family: Poppins;
	font-size: 10px;
	text-align: center;
	color:#474747;
}


#only_2_left_ {
	top: 795px;
	left: 321px;
	width: 41px;
	height: 9px;
	font-family: Poppins;
	font-size: 6px;
	text-align: center;
	color:#a5322c;
}


#rectangle_1122 {
	top: 834px;
	left: 124px;
	width: 250px;
	height: 267px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-ms-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-o-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-webkit-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-moz-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	background:rgba(246,246,246,255);
}


#superior_sky_room {
	top: 999px;
	left: 142px;
	width: 87px;
	height: 14px;
	font-family: Poppins;
	font-size: 9px;
	text-align: left;
	color:#831e17;
}


#view_details_ek2 {
	top: 1070px;
	left: 141px;
	width: 49px;
	height: 10px;
	font-family: Poppins;
	font-size: 7px;
	text-decoration: underline;
	text-align: center;
	color:#474747;
}


#mask_group_2 {
	top: 834px;
	left: 122px;
	width: 252px;
	height: 157px;
}


#icon_material_favorite_border_ek2 {
	top: 851px;
	left: 345.7646484375px;
	width: 21.25341796875px;
	height: 19.5px;
}


#mask_group_3 {
	top: 834px;
	left: 396px;
	width: 252px;
	height: 157px;
}


#icon_awesome_star_ek6 {
	top: 1003px;
	left: 248.21875px;
	width: 7.8359375px;
	height: 7.5px;
}


#icon_awesome_star_ek7 {
	top: 1003px;
	left: 256.9033203125px;
	width: 7.8359375px;
	height: 7.5px;
}


#icon_awesome_star_ek8 {
	top: 1003px;
	left: 265.58740234375px;
	width: 7.8359375px;
	height: 7.5px;
}


#icon_awesome_star_ek9 {
	top: 1003px;
	left: 274.271484375px;
	width: 7.8359375px;
	height: 7.5px;
}


#_289_reviews {
	top: 1003px;
	left: 295px;
	width: 34px;
	height: 8px;
	font-family: Poppins;
	font-size: 5px;
	text-align: left;
	color:#777777;
}


#icon_awesome_star_ek10 {
	top: 1003px;
	left: 282.9560546875px;
	width: 7.8359375px;
	height: 7.5px;
}


#icon_awesome_star_ek11 {
	top: 711px;
	left: 554.58740234375px;
	width: 7.8359375px;
	height: 7.5px;
}


#icon_material_favorite_border_ek3 {
	top: 851px;
	left: 620.7646484375px;
	width: 21.25341796875px;
	height: 19.5px;
}

#group_342 {
	top: 768px;
	left: 320px;
	width: 38.5px;
	height: 25px;
}

#___89_513 {
	top: -2px;
	left: 0px;
	width: 39px;
	height: 15px;
	font-family: Poppins;
	font-size: 9px;
	text-align: center;
	color:#737373;
}


#line_6 {
	top: 4px;
	left: 0px;
	width: 38.078125px;
	height: 6.494140625px;
}


#___80_562 {
	top: 10px;
	left: -2px;
	width: 43px;
	height: 15px;
	font-family: Poppins;
	font-size: 9px;
	text-align: center;
	color:#dd655f;
}

#group_348 {
	top: 741.41015625px;
	left: 142.0537109375px;
	width: 144.5380859375px;
	height: 31.58984375px;
}

#icon_awesome_ruler_combined {
	top: 20px;
	left: -1px;
	width: 14.59326171875px;
	height: 10.822265625px;
}


#_344_ft2___32_m2 {
	top: 19px;
	left: 28px;
	width: 63px;
	height: 13px;
	font-family: Poppins;
	font-size: 8px;
	text-align: center;
	color:#474747;
}


#icon_material_person {
	top: -1px;
	left: -0px;
	width: 14.4462890625px;
	height: 13.2998046875px;
}


#_6_people_maximum_per_room {
	top: -0px;
	left: 28px;
	width: 121px;
	height: 13px;
	font-family: Poppins;
	font-size: 8px;
	text-align: center;
	color:#474747;
}


#rectangle_1128 {
	top: 834px;
	left: 124px;
	width: 250px;
	height: 157px;
	background:rgba(208,200,200,255);
}


#room_is_not_available {
	top: 902px;
	left: 193px;
	width: 113px;
	height: 17px;
	font-family: Poppins;
	font-size: 10px;
	text-align: center;
	color:#ffffff;
}


#your_stay_ek1 {
	top: 550px;
	left: 683px;
	width: 63px;
	height: 19px;
	font-family: Poppins;
	font-size: 12px;
	text-align: center;
	color:#976b51;
}


#check_in {
	top: 576px;
	left: 716px;
	width: 53px;
	height: 17px;
	font-family: Poppins;
	font-size: 10px;
	text-align: center;
	color:#474747;
}


#after_3_00_pm {
	top: 591px;
	left: 708px;
	width: 69px;
	height: 17px;
	font-family: Poppins;
	font-size: 10px;
	text-align: center;
	color:#474747;
}


#check_out {
	top: 576px;
	left: 823px;
	width: 61px;
	height: 17px;
	font-family: Poppins;
	font-size: 10px;
	text-align: center;
	color:#474747;
}


#before_12_00_pm {
	top: 591px;
	left: 813px;
	width: 81px;
	height: 17px;
	font-family: Poppins;
	font-size: 10px;
	text-align: center;
	color:#474747;
}


#line_7 {
	top: 680px;
	left: 699.4814453125px;
	width: 200px;
	height: 1px;
}


#rectangle_1129 {
	top: 1322px;
	left: 480px;
	width: 444px;
	height: 271px;
	-ms-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-o-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-webkit-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-moz-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	background:rgba(255,255,255,255);
}


#promo___corporate_code {
	top: 1230px;
	left: 796px;
	width: 129px;
	height: 17px;
	font-family: Poppins;
	font-size: 10px;
	text-align: left;
	color:#474747;
}

#group_336 {
	top: 859px;
	left: 393px;
	width: 106px;
	height: 22.09326171875px;
}

#path_47 {
	top: 11px;
	left: 0px;
	width: 10px;
	height: 10.9677734375px;
}


#rectangle_1120 {
	top: 0px;
	left: 0px;
	width: 106px;
	height: 13px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background:rgba(207,63,55,255);
}


#favorite_choice_for_travellers_ {
	top: 1px;
	left: 10px;
	width: 91px;
	height: 9px;
	font-family: Poppins;
	font-size: 6px;
	text-align: left;
	color:#ffffff;
}


#icon_awesome_star_ek12 {
	top: 1004px;
	left: 523.21875px;
	width: 7.8359375px;
	height: 7.5px;
}


#icon_awesome_star_ek13 {
	top: 1004px;
	left: 531.9033203125px;
	width: 7.8359375px;
	height: 7.5px;
}


#icon_awesome_star_ek14 {
	top: 1004px;
	left: 540.58740234375px;
	width: 7.8359375px;
	height: 7.5px;
}


#icon_awesome_star_ek15 {
	top: 1004px;
	left: 549.271484375px;
	width: 7.8359375px;
	height: 7.5px;
}


#icon_awesome_star_ek16 {
	top: 1004px;
	left: 557.9560546875px;
	width: 7.8359375px;
	height: 7.5px;
}


#___74_081 {
	top: 778px;
	left: 594px;
	width: 41px;
	height: 15px;
	font-family: Poppins;
	font-size: 9px;
	text-align: center;
	color:#dd655f;
}


#___69_136 {
	top: 1066px;
	left: 319px;
	width: 41px;
	height: 15px;
	font-family: Poppins;
	font-size: 9px;
	text-align: center;
	color:#dd655f;
}


#ellipse_7 {
	top: 613px;
	left: 710px;
	width: 56px;
	height: 57px;
	-ms-border-radius: 28px / 28.5px;
	-o-border-radius: 28px / 28.5px;
	-moz-border-radius: 28px / 28.5px;
	-webkit-border-radius: 28px / 28.5px;
	border-radius: 28px / 28.5px;
	background:rgba(255,255,255,255);
}


#_23_oct_2019_ek1 {
	top: 621px;
	left: 726px;
	width: 25px;
	height: 40px;
	font-family: Poppins;
	font-size: 9px;
	text-align: center;
	color:#000000;
}


#ellipse_8 {
	top: 613px;
	left: 824px;
	width: 56px;
	height: 57px;
	-ms-border-radius: 28px / 28.5px;
	-o-border-radius: 28px / 28.5px;
	-moz-border-radius: 28px / 28.5px;
	-webkit-border-radius: 28px / 28.5px;
	border-radius: 28px / 28.5px;
	background:rgba(255,255,255,255);
}


#_24_oct_2019_ek1 {
	top: 621px;
	left: 840px;
	width: 25px;
	height: 40px;
	font-family: Poppins;
	font-size: 9px;
	text-align: center;
	color:#000000;
}


#icon_awesome_long_arrow_alt_right {
	top: 636.5px;
	left: 781px;
	width: 23.5703125px;
	height: 11.5859375px;
}


#only_1_left_ {
	top: 795px;
	left: 595px;
	width: 41px;
	height: 9px;
	font-family: Poppins;
	font-size: 6px;
	text-align: center;
	color:#a5322c;
}


#icon_material_radio_button_unchecked {
	top: 1336.9995117188px;
	left: 501.83935546875px;
	width: 15.6171875px;
	height: 15px;
}


#line_2 {
	top: 1395px;
	left: 501.35302734375px;
	width: 403.96240234375px;
	height: 1px;
}


#rate_includes_breakfast_and_free_wi_fi_and_subject_to_taxes_and_service_charge__flexible_cancellation_ {
	top: 1357px;
	left: 526px;
	width: 316px;
	height: 25px;
	font-family: Poppins;
	font-size: 8px;
	text-align: left;
	color:#474747;
}


#icon_material_radio_button_checked {
	top: 1408px;
	left: 502.1865234375px;
	width: 15.6171875px;
	height: 15px;
}


#ultimate_spa_essence_offer {
	top: 1405px;
	left: 526px;
	width: 139px;
	height: 17px;
	font-family: Poppins;
	font-size: 10px;
	text-align: left;
	color:#a29350;
}


#flexible_hot_deal_with_breakfast {
	top: 1334px;
	left: 526px;
	width: 159px;
	height: 17px;
	font-family: Poppins;
	font-size: 10px;
	text-align: left;
	color:#a29350;
}


#truly_unwind_and_relax_with_our_revitalizing_spa_package__choose_between_a_90_minutes_royal_thai_spa_massage_or_60_minutes_swedish_massage_ {
	top: 1428px;
	left: 526px;
	width: 356px;
	height: 25px;
	font-family: Poppins;
	font-size: 8px;
	text-align: left;
	color:#474747;
}

#group_337 {
	top: 1475px;
	left: 501.83935546875px;
	width: 365.16064453125px;
	height: 33px;
}

#icon_material_radio_button_unchecked_ek1 {
	top: 0px;
	left: 0px;
	width: 15.6171875px;
	height: 15px;
}


#rate_is_inclusive_of_breakfast_and_free_wi_fi__rate_is_subject_to_taxes_and_service_charge_ {
	top: 20px;
	left: 24px;
	width: 346px;
	height: 13px;
	font-family: Poppins;
	font-size: 8px;
	text-align: left;
	color:#474747;
}


#best_flexible_rate_with_breakfast {
	top: -3px;
	left: 24px;
	width: 164px;
	height: 17px;
	font-family: Poppins;
	font-size: 10px;
	text-align: left;
	color:#a29350;
}


#line_8 {
	top: 1463.1713867188px;
	left: 501.35302734375px;
	width: 403.96240234375px;
	height: 1px;
}

#group_358 {
	top: 1047px;
	left: 703px;
	width: 205.18408203125px;
	height: 30px;
}

#path_37 {
	top: -6px;
	left: -9px;
	width: 223.18408203125px;
	height: 48px;
}


#__p__continue {
	top: -1px;
	left: 59px;
	width: 82px;
	height: 23px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 16px;
	text-align: center;
	line-height: 16px;
	color:#ffffff;
}


#icon_ionic_ios_arrow_round_forward {
	top: 10px;
	left: 174px;
	width: 17.806640625px;
	height: 11.87646484375px;
}


#superior_room_ek1 {
	top: 1001px;
	left: 410px;
	width: 70px;
	height: 14px;
	font-family: Poppins;
	font-size: 9px;
	text-align: left;
	color:#831e17;
}


#view_details_ek3 {
	top: 1070px;
	left: 408px;
	width: 49px;
	height: 10px;
	font-family: Poppins;
	font-size: 7px;
	text-decoration: underline;
	text-align: center;
	color:#474747;
}


#_1576_reviews {
	top: 1004px;
	left: 570px;
	width: 36px;
	height: 8px;
	font-family: Poppins;
	font-size: 5px;
	text-align: left;
	color:#777777;
}


#icon_material_favorite_border_ek4 {
	top: 851px;
	left: 336.7646484375px;
	width: 21.25341796875px;
	height: 19.5px;
}


#line_10 {
	top: 958px;
	left: 701.4814453125px;
	width: 205.0185546875px;
	height: 1px;
}


#rectangle_1103_ek1 {
	top: 834px;
	left: 398px;
	width: 250px;
	height: 11px;
	background:rgba(207,63,55,255);
}


#sale_5__off_ {
	top: 834px;
	left: 417px;
	width: 40px;
	height: 9px;
	font-family: Poppins;
	font-size: 6px;
	text-align: left;
	color:#ffffff;
}


#expires_in_2h_20m_09s_ {
	top: 834px;
	left: 579px;
	width: 71px;
	height: 9px;
	font-family: Poppins;
	font-size: 6px;
	text-align: left;
	color:#ffffff;
}


#rectangle_1121_ek1 {
	top: 834px;
	left: 398px;
	width: 14px;
	height: 11px;
	background:rgba(165,50,44,255);
}


#icon_metro_alarm_on_ek1 {
	top: 836.2197265625px;
	left: 402px;
	width: 7px;
	height: 7.048828125px;
}

#group_343 {
	top: 1056px;
	left: 604px;
	width: 38.5px;
	height: 25px;
}

#___61_492 {
	top: -2px;
	left: 0px;
	width: 39px;
	height: 15px;
	font-family: Poppins;
	font-size: 9px;
	text-align: center;
	color:#737373;
}


#line_6_ek1 {
	top: 4px;
	left: 0px;
	width: 38.078125px;
	height: 6.494140625px;
}


#___55_343 {
	top: 10px;
	left: -2px;
	width: 43px;
	height: 15px;
	font-family: Poppins;
	font-size: 9px;
	text-align: center;
	color:#dd655f;
}


#invalid_code__please_try_again_with_another_code {
	top: 908px;
	left: 710px;
	width: 149px;
	height: 9px;
	font-family: Poppins;
	font-size: 6px;
	text-align: left;
	color:#ca444a;
}

#group_357 {
	top: 972px;
	left: 706px;
	width: 200px;
	height: 52px;
}

#rectangle_1132 {
	top: 0px;
	left: 0px;
	width: 200px;
	height: 52px;
	background:rgba(250,250,250,255);
}


#total {
	top: 16px;
	left: 8px;
	width: 31px;
	height: 17px;
	font-family: Poppins;
	font-size: 10px;
	text-align: center;
	color:#474747;
}


#___135_905 {
	top: 16px;
	left: 141px;
	width: 51px;
	height: 17px;
	font-family: Poppins;
	font-size: 10px;
	text-align: center;
	color:#474747;
}


#add_more_rooms {
	top: 934px;
	left: 772px;
	width: 69px;
	height: 10px;
	font-family: Poppins;
	font-size: 7px;
	text-align: left;
	color:#976b51;
}


#rectangle_1130 {
	top: 708px;
	left: 689px;
	width: 223px;
	height: 70px;
	background:rgba(250,250,250,255);
}


#rectangle_1131 {
	top: 708px;
	left: 689px;
	width: 6px;
	height: 85px;
	background:rgba(198,187,180,255);
}


#flexible_hot_deal_with_breakfast_ek1 {
	top: 713px;
	left: 704px;
	width: 159px;
	height: 17px;
	font-family: Poppins;
	font-size: 10px;
	text-align: left;
	color:#505050;
}


#_2_adults__1_room {
	top: 738px;
	left: 704px;
	width: 68px;
	height: 13px;
	font-family: Poppins;
	font-size: 8px;
	text-align: left;
	color:#474747;
}


#non_refundable {
	top: 764px;
	left: 860px;
	width: 51px;
	height: 9px;
	font-family: Poppins;
	font-size: 6px;
	text-align: left;
	color:#474747;
}


#remove {
	top: 712px;
	left: 883px;
	width: 25px;
	height: 8px;
	font-family: Poppins;
	font-size: 5px;
	text-align: left;
	color:#976b51;
}


#line_9 {
	top: 720.25px;
	left: 883.6826171875px;
	width: 20px;
	height: 0.5px;
}


#room_1 {
	top: 688px;
	left: 687px;
	width: 41px;
	height: 17px;
	font-family: Poppins;
	font-size: 10px;
	text-align: center;
	color:#976b51;
}


#rectangle_1133 {
	top: 778px;
	left: 695px;
	width: 216px;
	height: 14px;
	border: 0.5px solid #cfd4d9;
	background:rgba(255,255,255,255);
}


#rectangle_1134 {
	opacity:0.90339297056198;
	top: 778px;
	left: 881px;
	width: 31px;
	height: 15px;
	background:rgba(110,117,124,255);
}


#enter_code {
	top: 780px;
	left: 703px;
	width: 37px;
	height: 9px;
	font-family: Poppins;
	font-size: 6px;
	text-align: center;
	color:#6e757c;
}


#apply {
	top: 780px;
	left: 888px;
	width: 21px;
	height: 9px;
	font-family: Poppins;
	font-size: 6px;
	text-align: center;
	color:#ffffff;
}


#___premium_deluxe_room_with_lounge_access_ {
	top: 691px;
	left: 728px;
	width: 187px;
	height: 13px;
	font-family: Poppins;
	font-size: 8px;
	text-align: left;
	color:#976b51;
}

#group_355 {
	top: 743px;
	left: 856.5px;
	width: 60.5px;
	height: 23px;
}
#group_353 {
	top: 0px;
	left: 0px;
	width: 42.5px;
	height: 23px;
}

#___89_513_ek1 {
	top: -2px;
	left: 2px;
	width: 32px;
	height: 11px;
	font-family: Poppins;
	font-size: 7px;
	text-align: left;
	color:#505050;
}


#line_11 {
	top: 3px;
	left: -0px;
	width: 29.0849609375px;
	height: 5.4931640625px;
}


#___80_562_ek1 {
	top: 8px;
	left: 6px;
	width: 42px;
	height: 15px;
	font-family: Poppins;
	font-size: 9px;
	text-align: left;
	color:#505050;
}

#group_354 {
	top: 0px;
	left: 32px;
	width: 29px;
	height: 10px;
}

#rectangle_1135 {
	top: 0px;
	left: 0px;
	width: 29px;
	height: 10px;
	-ms-border-radius: 1px;
	-o-border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	background:rgba(207,63,55,255);
}


#_10__off_ {
	top: -1px;
	left: 3px;
	width: 29px;
	height: 9px;
	font-family: Poppins;
	font-size: 6px;
	text-align: left;
	color:#ffffff;
}


#rectangle_1130_ek1 {
	top: 821px;
	left: 690px;
	width: 222px;
	height: 70px;
	background:rgba(250,250,250,255);
}


#rectangle_1131_ek1 {
	top: 821px;
	left: 690px;
	width: 6px;
	height: 85px;
	background:rgba(198,187,180,255);
}


#ultimate_spa_essence_offer_ek1 {
	top: 826px;
	left: 705px;
	width: 139px;
	height: 17px;
	font-family: Poppins;
	font-size: 10px;
	text-align: left;
	color:#505050;
}


#_2_adults__1_room_ek1 {
	top: 851px;
	left: 705px;
	width: 68px;
	height: 13px;
	font-family: Poppins;
	font-size: 8px;
	text-align: left;
	color:#474747;
}


#non_refundable_ek1 {
	top: 877px;
	left: 860px;
	width: 51px;
	height: 9px;
	font-family: Poppins;
	font-size: 6px;
	text-align: left;
	color:#474747;
}

#group_388 {
	top: 826px;
	left: 883px;
	width: 20.6826171875px;
	height: 7.5px;
}

#remove_ek1 {
	top: -1px;
	left: 0px;
	width: 25px;
	height: 8px;
	font-family: Poppins;
	font-size: 5px;
	text-align: left;
	color:#976b51;
}


#line_9_ek1 {
	top: 7px;
	left: 1px;
	width: 20px;
	height: 0.5px;
}


#room_2 {
	top: 801px;
	left: 687px;
	width: 43px;
	height: 17px;
	font-family: Poppins;
	font-size: 10px;
	text-align: center;
	color:#976b51;
}


#rectangle_1133_ek1 {
	top: 891px;
	left: 696px;
	width: 215px;
	height: 14px;
	border: 0.5px solid #cfd4d9;
	background:rgba(255,255,255,255);
}


#rectangle_1134_ek1 {
	opacity:0.90339297056198;
	top: 891px;
	left: 881px;
	width: 31px;
	height: 15px;
	background:rgba(110,117,124,255);
}


#hifrd99 {
	top: 893px;
	left: 708px;
	width: 29px;
	height: 9px;
	font-family: Poppins;
	font-size: 6px;
	text-align: center;
	color:#575c62;
}


#apply_ek1 {
	top: 893px;
	left: 888px;
	width: 21px;
	height: 9px;
	font-family: Poppins;
	font-size: 6px;
	text-align: center;
	color:#ffffff;
}


#___superior_room_ {
	top: 804px;
	left: 730.611328125px;
	width: 73px;
	height: 13px;
	font-family: Poppins;
	font-size: 8px;
	text-align: left;
	color:#976b51;
}

#button_primary {
	top: 1536px;
	left: 625px;
	width: 154px;
	height: 26px;
}

#rectangle_1091 {
	top: 0px;
	left: 0px;
	width: 151px;
	height: 23px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1.5px solid #bfa168;
	background:rgba(127,127,127,0);
}


#add_room {
	top: 3px;
	left: 41px;
	width: 71px;
	height: 16px;
	font-family: Arial;
	font-size: 12px;
	text-align: center;
	color:#bfa168;
}

#group_349 {
	top: 741.41015625px;
	left: 416.0537109375px;
	width: 144.5380859375px;
	height: 31.58984375px;
}

#icon_awesome_ruler_combined_ek1 {
	top: 20px;
	left: -1px;
	width: 14.59326171875px;
	height: 10.822265625px;
}


#_344_ft2___32_m2_ek1 {
	top: 19px;
	left: 28px;
	width: 63px;
	height: 13px;
	font-family: Poppins;
	font-size: 8px;
	text-align: center;
	color:#474747;
}


#icon_material_person_ek1 {
	top: -1px;
	left: -0px;
	width: 14.4462890625px;
	height: 13.2998046875px;
}


#_2_people_maximum_per_room {
	top: -0px;
	left: 28px;
	width: 121px;
	height: 13px;
	font-family: Poppins;
	font-size: 8px;
	text-align: center;
	color:#474747;
}

#group_350 {
	top: 1028.41015625px;
	left: 142.0537109375px;
	width: 144.5380859375px;
	height: 31.58984375px;
}

#icon_awesome_ruler_combined_ek2 {
	top: 20px;
	left: -1px;
	width: 14.59326171875px;
	height: 10.822265625px;
}


#_344_ft2___32_m2_ek2 {
	top: 19px;
	left: 28px;
	width: 63px;
	height: 13px;
	font-family: Poppins;
	font-size: 8px;
	text-align: center;
	color:#474747;
}


#icon_material_person_ek2 {
	top: -1px;
	left: -0px;
	width: 14.4462890625px;
	height: 13.2998046875px;
}


#_3_people_maximum_per_room {
	top: -0px;
	left: 28px;
	width: 121px;
	height: 13px;
	font-family: Poppins;
	font-size: 8px;
	text-align: center;
	color:#474747;
}

#group_351 {
	top: 1023.41015625px;
	left: 410.0537109375px;
	width: 144.5380859375px;
	height: 31.58984375px;
}

#icon_awesome_ruler_combined_ek3 {
	top: 20px;
	left: -1px;
	width: 14.59326171875px;
	height: 10.822265625px;
}


#_344_ft2___32_m2_ek3 {
	top: 19px;
	left: 28px;
	width: 63px;
	height: 13px;
	font-family: Poppins;
	font-size: 8px;
	text-align: center;
	color:#474747;
}


#icon_material_person_ek3 {
	top: -1px;
	left: -0px;
	width: 14.4462890625px;
	height: 13.2998046875px;
}


#_2_people_maximum_per_room_ek1 {
	top: -0px;
	left: 28px;
	width: 121px;
	height: 13px;
	font-family: Poppins;
	font-size: 8px;
	text-align: center;
	color:#474747;
}


#path_49 {
	top: 1255px;
	left: 795.7880859375px;
	width: 128.13330078125px;
	height: 21px;
}


#specialme {
	top: 1255px;
	left: 830px;
	width: 59px;
	height: 17px;
	font-family: Poppins;
	font-size: 10px;
	text-align: center;
	color:#7088a0;
}


#_10__discount_for_new_member_ {
	top: 1278px;
	left: 796px;
	width: 127px;
	height: 13px;
	font-family: Poppins;
	font-size: 8px;
	text-align: center;
	color:#7188a0;
}

#group_356 {
	top: 856px;
	left: 858.5px;
	width: 60.5px;
	height: 23px;
}
#group_353_ek1 {
	top: 0px;
	left: 0px;
	width: 42.5px;
	height: 23px;
}

#___61_492_ek1 {
	top: -2px;
	left: 2px;
	width: 32px;
	height: 11px;
	font-family: Poppins;
	font-size: 7px;
	text-align: left;
	color:#505050;
}


#line_11_ek1 {
	top: 3px;
	left: -0px;
	width: 29.0849609375px;
	height: 5.4931640625px;
}


#___55_343_ek1 {
	top: 8px;
	left: 6px;
	width: 42px;
	height: 15px;
	font-family: Poppins;
	font-size: 9px;
	text-align: left;
	color:#505050;
}

#group_354_ek1 {
	top: 0px;
	left: 32px;
	width: 29px;
	height: 10px;
}

#rectangle_1135_ek1 {
	top: 0px;
	left: 0px;
	width: 29px;
	height: 10px;
	-ms-border-radius: 1px;
	-o-border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	background:rgba(207,63,55,255);
}


#_5__off_ {
	top: -1px;
	left: 4px;
	width: 27px;
	height: 9px;
	font-family: Poppins;
	font-size: 6px;
	text-align: left;
	color:#ffffff;
}

#group_87 {
	top: 1684px;
	left: 362px;
	width: 301px;
	height: 24px;
}

#_1 {
	opacity:0.85439497232437;
	top: -3px;
	left: 55px;
	width: 13px;
	height: 20px;
	font-family: Arial;
	font-size: 16px;
	text-align: center;
	color:#606060;
}

#symbol_24___1 {
	top: 0px;
	left: 278px;
	width: 23px;
	height: 24px;
}

#path_10_ek3 {
	top: 0px;
	left: 0px;
	width: 23.62353515625px;
	height: 23.62353515625px;
}


#_2_ek1 {
	top: -3px;
	left: 99px;
	width: 13px;
	height: 20px;
	font-family: Arial;
	font-size: 16px;
	text-align: center;
	color:#d8d4cd;
}


#_3_ek1 {
	top: -3px;
	left: 143px;
	width: 13px;
	height: 20px;
	font-family: Arial;
	font-size: 16px;
	text-align: center;
	color:#d8d4cd;
}


#_4_ek1 {
	top: -3px;
	left: 187px;
	width: 13px;
	height: 20px;
	font-family: Arial;
	font-size: 16px;
	text-align: center;
	color:#d8d4cd;
}


#_5 {
	top: -3px;
	left: 232px;
	width: 13px;
	height: 20px;
	font-family: Arial;
	font-size: 16px;
	text-align: center;
	color:#d8d4cd;
}

#symbol_44___1 {
	top: 0px;
	left: 0px;
	width: 24px;
	height: 24px;
}

#path_10_ek4 {
	top: 0px;
	left: 0px;
	width: 23.62353515625px;
	height: 23.62353515625px;
}

#group_496 {
	top: 0px;
	left: 0px;
	width: 1024px;
	height: 78px;
}

#path_42 {
	top: 0px;
	left: 0px;
	width: 1024px;
	height: 78px;
}


#logo_ek1 {
	top: 8px;
	left: 36px;
	width: 63px;
	height: 58px;
}


#__p__about {
	top: 26px;
	left: 132px;
	width: 45px;
	height: 30px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 14px;
	text-align: center;
	line-height: 14px;
	color:#ffffff;
}


#__p__services {
	top: 26px;
	left: 202px;
	width: 61px;
	height: 28px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 14px;
	text-align: center;
	line-height: 14px;
	color:#ffffff;
}


#__p__events {
	top: 26px;
	left: 288px;
	width: 47px;
	height: 30px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 14px;
	text-align: center;
	line-height: 14px;
	color:#ffffff;
}


#__p__offers {
	top: 26px;
	left: 360px;
	width: 43px;
	height: 30px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 14px;
	text-align: center;
	line-height: 14px;
	color:#ffffff;
}


#__p__reviews {
	top: 26px;
	left: 428px;
	width: 62px;
	height: 28px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 14px;
	text-align: center;
	line-height: 14px;
	color:#ffffff;
}


#__p__gallery {
	top: 26px;
	left: 515px;
	width: 55px;
	height: 28px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 14px;
	text-align: center;
	line-height: 14px;
	color:#ffffff;
}


#mook_c_ {
	top: 26px;
	left: 931px;
	width: 60px;
	height: 23px;
	font-family: Poppins;
	font-size: 14px;
	text-align: left;
	color:#ffffff;
}


#rectangle_1154 {
	top: 14px;
	left: 862px;
	width: 0.5px;
	height: 52px;
	background:rgba(238,238,238,255);
}

#group_449 {
	top: 23px;
	left: 700px;
	width: 152px;
	height: 33px;
}

#rectangle_1102 {
	top: 0px;
	left: 0px;
	width: 152px;
	height: 33px;
	-ms-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-o-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-webkit-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-moz-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	background:rgba(191,159,104,255);
}


#book_now {
	top: 4px;
	left: 38px;
	width: 77px;
	height: 22px;
	font-family: Poppins;
	font-size: 13px;
	text-align: center;
	color:#ffffff;
}


#icon_material_arrow_drop_down_ek1 {
	top: 36px;
	left: 996px;
	width: 13px;
	height: 7px;
}

#group_495 {
	top: 15px;
	left: 871px;
	width: 50px;
	height: 50px;
}

#ellipse_9 {
	top: 0px;
	left: 0px;
	width: 48px;
	height: 48px;
	-ms-border-radius: 25px / 25px;
	-o-border-radius: 25px / 25px;
	-moz-border-radius: 25px / 25px;
	-webkit-border-radius: 25px / 25px;
	border-radius: 25px / 25px;
	border: 1px solid #707070;
	-ms-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-o-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-webkit-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-moz-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	background:rgba(239,240,240,255);
}


#m {
	top: 1px;
	left: 13px;
	width: 27px;
	height: 40px;
	font-family: Poppins;
	font-size: 25px;
	text-align: left;
	color:#bfa068;
}


#icon_material_arrow_drop_down_ek2 {
	top: 36px;
	left: 996px;
	width: 13px;
	height: 7px;
}



/* Add your custom CSS here */
