#icon_ionic_ios_arrow_back {
	top: 128.00004577637px !important;
	position: absolute !important;
	left: 43.00048828125px;
	width: 18px;
	height: 31px;
	background:url(../picture/addnew/icon_ionic_ios_arrow_back.png);
	background-size:cover;
}

/* #rectangle_1161 {
	opacity:0.59813302755356;
	top: 180px;
	left: 250px;
	width: 700px;
	height: 500px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-ms-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-o-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-webkit-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-moz-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	background:rgba(245,245,239,255);
}


#rectangle_1191 {
	top: -200px;
	left: 50px;
	width: 480px;
	height: 207px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #aeaeae;
    background:rgba(255,255,255,255);
    position: relative;
} */

/* #group_538 {
	top: 126px;
	left: 45.5px;
	width: 909px;
    height: 48px;
    position: relative;
} */

/* #meeting {
	top: -320px;
	left: 500px;
	width: 200px;
	height: 49px;
	font-family: Poppins;
	font-size: 30px;
	text-align: center;
    color:#1e1e1e;
    position: relative;
}


#rectangle_13 {
	top: 43px;
	left: 98px;
	width: 33px;
	height: 5px;
	-ms-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-o-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-webkit-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-moz-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	background:rgba(0,0,0,255);
}


#path_92 {
	top: 22px !important;
	position: absolute !important;
	left: 0px;
	width: 45.669921875px;
	height: 4px;
	background:url(skins/path_92.png);
	background-size:cover;
}


#line_18 {
	top: 20px !important;
	position: absolute !important;
	left: 594px;
	width: 315px;
	height: 4px;
	background:url(skins/line_18.png);
	background-size:cover;
}


#line_19 {
	top: 20px !important;
	position: absolute !important;
	left: 186px;
	width: 408px;
	height: 4px;
	background:url(skins/line_19.png);
	background-size:cover;
}


#image_70 {
	opacity:0;
	top: 243px;
	left: 56px;
	width: 379px;
	height: 379px;
	border: 1px solid #707070;
	background:rgba(0,0,0,0);
}


#topic_ {
	top: 260px;
	left: 482px;
	width: 59px;
	height: 29px;
	font-family: Poppins;
	font-size: 18px;
	text-align: center;
	color:#bfa068;
}

#group_550 {
	top: 535px;
	left: 306px;
	width: 130.5576171875px;
	height: 19.52587890625px;
}

#add_more_photo {
	top: -50px;
	left: 400px;
	width: 111px;
	height: 22px;
	font-family: Poppins;
	font-size: 13px;
	text-align: center;
    color:#976b51;
    position: relative;
}


#path_94 {
	top: 19px !important;
	position: absolute !important;
	left: 25px;
	width: 104.1044921875px;
	height: 0.5px;
	background:url(../picture/addnew/path_94.png);
	background-size:cover;
}


#icon_material_add_circle_outline {
	top: 0px !important;
	position: absolute !important;
	left: 0px;
	width: 19.525390625px;
	height: 19.52587890625px;
	background:url(../picture/addnew/icon_material_add_circle_outline.png);
	background-size:cover;
}

#group_551 {
	top: 222px;
	left: 353.5576171875px;
	width: 82.8759765625px;
	height: 15px;
}
#cancel {
	top: 3px;
	left: 73px;
	width: 9.6171875px;
	height: 9px;
}

#union_3 {
	top: -2px !important;
	position: absolute !important;
	left: -5px;
	width: 18.6171875px;
	height: 18px;
	background:url(../picture/addnew/union_3.png);
	background-size:cover;
}


#delete_photo {
	top: -3px;
	left: -2px;
	width: 69px;
	height: 17px;
	font-family: Poppins;
	font-size: 10px;
	text-align: center;
	color:#976b51;
}

#deleteevent {
	top: 244.2412109375px;
	left: 920.81640625px;
	width: 22.6171875px;
	height: 21px;
}

#union_3_ek1 {
	top: -2px !important;
	position: absolute !important;
	left: -5px;
	width: 31.6171875px;
	height: 30px;
	background:url(../picture/addnew/union_3_ek1.png);
	background-size:cover;
}

#group_545 {
	top: 530px;
	left: 789px;
	width: 166px;
	height: 25px;
}

#rectangle_285 {
	top: 0px;
	left: 86px;
	width: 80px;
	height: 25px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-ms-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-o-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-webkit-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-moz-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	background:rgba(193,173,138,255);
} */

/* .form{
    top: -300px;
	left: 400px;
	width: 47px;
    height: 13px;
    position: relative;
}

input[type=text]:focus {
  outline: none;
    background-color: rgb(242, 247, 221);
  }
input[type=number]:focus {
outline: none;
background-color: rgb(242, 247, 221);
}
input[type=datetime-local]:focus {
	outline: none;
	background-color: rgb(242, 247, 221);
	}
textarea:focus{
    outline: none;
    background-color: rgb(242, 247, 221); */
}

.transition, form button, form .question label, form .question input[type="text"] {
	-moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
	-o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
	-webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
	transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  }
  
  * {
	font-family: Helvetica, Poppins;
	font-weight: light;
	-webkit-font-smoothing: antialiased;
  }
  
  html {
	background-color: #fffeec;
  }
  
  form {
	position: relative;
	display: inline-block;
	max-width: 700px;
	min-width: 500px;
	box-sizing: border-box;
	padding: 30px 25px;
	background-color: white;
	border-radius: 40px;
	margin: 40px 0;
	left: 50%;
	-moz-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
  }
  form h1 {
	color: #cec656;
	font-weight: 100;
	letter-spacing: 0.01em;
	margin-left: 15px;
	margin-bottom: 35px;
	text-transform: uppercase;
  }
  form button {
	margin-top: 35px;
	background-color: white;
	border: 1px solid #cec656;
	line-height: 0;
	font-size: 17px;
	display: inline-block;
	box-sizing: border-box;
	padding: 20px 15px;
	border-radius: 60px;
	color: #ffffff;
	font-weight: 100;
	letter-spacing: 0.01em;
	position: relative;
	z-index: 1;
  }
  form button:hover, form button:focus {
	color: white;
	background-color: #cec656;
  }
  form .question {
	position: relative;
	padding: 10px 0;
  }
  form .question:first-of-type {
	padding-top: 0;
  }
  form .question:last-of-type {
	padding-bottom: 0;
  }
  form .question label {
	transform-origin: left center;
	color: #cec656;
	font-weight: 100;
	letter-spacing: 0.01em;
	font-size: 17px;
	box-sizing: border-box;
	padding: 10px 15px;
	display: block;
	position: absolute;
	margin-top: -40px;
	z-index: 2;
	pointer-events: none;
  }
  form .question input[type="text"] {
	appearance: none;
	background-color: none;
	border: 1px solid #cec656;
	line-height: 0;
	font-size: 17px;
	width: 100%;
	display: block;
	box-sizing: border-box;
	padding: 10px 15px;
	border-radius: 60px;
	color: #cec656;
	font-weight: 100;
	letter-spacing: 0.01em;
	position: relative;
	z-index: 1;
  }
  form .question input[type="number"]:focus {
	outline: none;
	background: #cec656;
	color: white;
	margin-top: 30px;
  }
  form .question input[type="text"]:valid {
	margin-top: 30px;
  }
  form .question input[type="number"]:focus ~ label {
	-moz-transform: translate(0, -35px);
	-ms-transform: translate(0, -35px);
	-webkit-transform: translate(0, -35px);
	transform: translate(0, -35px);
  }
  form .question input[type="number"]:valid ~ label {
	text-transform: uppercase;
	font-style: italic;
	-moz-transform: translate(5px, -35px) scale(0.6);
	-ms-transform: translate(5px, -35px) scale(0.6);
	-webkit-transform: translate(5px, -35px) scale(0.6);
	transform: translate(5px, -35px) scale(0.6);
  }
  
